<VirtualHost *:{{ apache_port }}>
    ServerAdmin {{ server_admin_email }}
    DocumentRoot {{ site_dir }}

    <Directory {{ site_dir }}>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog {{ apache_log_dir }}/{{ env_name }}_error.log
    CustomLog {{ apache_log_dir }}/{{ env_name }}_access.log combined
</VirtualHost>
